.nav-button {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button.active {
    background-color: #c7c7c7;
}

.dark-mode .nav-button.active {
    background-color: #353535;
}

.delete-icon {
    position: absolute;
    bottom: 20px;
    right: 15px;
    color: #FF2222;
    cursor: pointer;
}

.show-icon {
    position: absolute;
    right: 13px;
    top: 23px;
    color: #007BFF;
    cursor: pointer;
}

.edit-icon {
    position: absolute;
    right: 12px;
    top: 23px;
    color: #007BFF;
    cursor: pointer;
}

.normal-icon {
    color: hwb(123 0% 34%);
    cursor: pointer;
}

.normal-icon h1 {
    margin: 10px 0px;
}

.green-button {
    background-color: hwb(123 0% 34%);
    color: white;
    border: 2px solid hwb(123 0% 34%);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.1s;
}

.green-button:hover {
    background-color: white;
    color: black;
    border: 2px solid hwb(123 0% 34%);
}

.blue-button {
    background-color: #007BFF;
    color: white;
    border: 2px solid #007BFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.1s;
}

.blue-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

.login-button {
    background-color: #007BFF;
    color: white;
    border: 2px solid #007BFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.1s;
    width: 100%;
    max-width: 215px;
}

.login-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

.red-button {
    background-color: #FF2222;
    color: white;
    border: 2px solid #FF2222;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.1s;
}

.red-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #FF2222;
}

.sort-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 1.2em;
    color: black;
}

.datePicker .normal-icon {
    padding: 0.45rem 0.4rem;
}
.datePicker {
    margin: 10px 0px 0px 0px;
    width: 100%;
}
.datePicker input {
    background-color: white;
    border: 1px solid black;
    width: -webkit-fill-available;
}

.dark-mode .datePicker input {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.overlay-checkbox {
    margin: 10px;
    margin-left: 0px;
}
.overlay-checkbox input {
    margin-left: 0px;
    margin-right: 10px;
}
