a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.cards-container {
    display: block;
    justify-content: center;
    margin-bottom: 45px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    width: 90%;
    /* This will make the card take up half the width of its container */
    max-width: 500px;
    position: relative;
    word-wrap: break-word;
}

.overlay {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    width: 90%;
    max-width: 500px;
    word-wrap: break-word;
    position: fixed;
    z-index: 1000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card2 {
    padding: 5px;
    margin: 5px auto;
    width: 90%;
    max-width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

.card2 h1 {
    margin: 10px 0px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 5px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    z-index: 500;
}

.card:hover {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}

.card h2,
.card h3 {
    margin-top: 0;
}

.overlay input,
.overlay textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid black;
    outline: none;
}

.overlay textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 500px;
}

.overlay input:focus,
.overlay textarea:focus {
    border: 2px solid black;
}

.card select {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.card3 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    width: 90%;
    max-width: 500px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.transparent-card {
    padding: 15px;
    margin: 10px auto;
    width: 90%;
    max-width: 500px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    border-color: gray;
    opacity: 0.2;
}

.card p {
    margin-bottom: 0px;
}

.blur-background {
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-photo {
    width: 50px;
    height: 50px;
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.footer p {
    margin: 8px 0px;
}

/* =========== Dark mode styles =========== */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode a:hover {
    color: #03dac6;
}

.dark-mode .card,
.dark-mode .header,
.dark-mode .overlay,
.dark-mode .card3 {
    border-color: #424242;
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .card:hover {
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.2);
}

.dark-mode .footer {
    background-color: #212121;
    color: #e0e0e0;
}

.dark-mode .green-button:hover,
.dark-mode .blue-button:hover,
.dark-mode .login-button:hover {
    background-color: black;
    color: white;
}

.dark-mode .card select {
    background-color: #333;
    color: white;
}

.dark-mode .header {
    background-color: #212121;
    color: #e0e0e0;
}

.dark-mode .overlay input,
.dark-mode .overlay textarea {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.dark-mode .overlay input:focus,
.dark-mode .overlay textarea:focus {
    border: 2px solid white;
}
