a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}
.nav-button a:hover {
    color: #007BFF;
    text-decoration: none;
}

h1 {
    text-align: center;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.cards-container {
    display: block;
    justify-content: center;
    padding-bottom: 38px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    width: 90%;
    max-width: 650px;
    position: relative;
    word-wrap: break-word;
}

.tool-card {
    padding: 0px 15px;
    margin: 0 auto auto;
    width: 90%;
    max-width: 650px;
    position: relative;
    word-wrap: break-word;
    display: flex;
}

.overlay {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    width: 90%;
    max-width: 650px;
    word-wrap: break-word;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card2 {
    margin: 5px auto;
    padding: 0px;
    width: 100%;
    max-width: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

.card2 h1 {
    margin: 10px 0px;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    z-index: 500;
}

.card:hover {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}

.card-hx {
    margin: 0;
    padding: 5px 20px 5px 5px;
    white-space: pre-wrap;
}

.md-preview {
    padding: 5px 20px 5px 5px;
    background-color: white;
}

.w-md-editor svg {
    width: fit-content;
    height: 16px;
}

.w-md-editor-toolbar-divider {
    vertical-align: unset;
}

.overlay-input,
.overlay-textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid black;
    outline: none;
}

.overlay-textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 650px;
    height: 82px;
}

.overlay p, .overlay button {
    font-size: 17px;
}

.tool-card select {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
}

.card3 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    width: 90%;
    max-width: 650px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.transparent-card {
    padding: 15px;
    margin: 10px auto;
    width: 90%;
    max-width: 650px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    border-color: gray;
    opacity: 0.2;
    margin: 12px 5px;
}

.blur-background {
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-photo {
    width: 50px;
    height: 50px;
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.footer p {
    margin: 8px 0px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transform: translateY(-10%);
}

html::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.w-md-editor {
    border: 1px solid black;
}


/* =========== Dark mode styles =========== */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .w-md-editor {
    border: 1px solid white;
}

.dark-mode .md-preview {
    background-color: #252525;
}

.dark-mode a:hover {
    color: #03dac6;
}

.dark-mode .nav-button a:hover {
    color: #007BFF;
}

.dark-mode hr {
    border-color: lightgray;
}

.dark-mode .card,
.dark-mode .header,
.dark-mode .overlay,
.dark-mode .card3 {
    border-color: #424242;
    background-color: #252525;
    color: #e0e0e0;
}

.dark-mode .card:hover {
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.2);
}

.dark-mode .footer {
    background-color: #212121;
    color: #e0e0e0;
}

.dark-mode .green-button:hover,
.dark-mode .red-button:hover,
.dark-mode .blue-button:hover,
.dark-mode .login-button:hover {
    background-color: #252525;
    color: white;
}

.dark-mode .tool-card select {
    background-color: #252525;
    color: white;
    border: 1px solid white;
}

.dark-mode .header {
    background-color: #212121;
    color: #e0e0e0;
}

.dark-mode .overlay-input,
.dark-mode .overlay-textarea {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.dark-mode .sort-button {
    color: #e0e0e0;
}
