h1 {
    text-align: center;
    margin-top: 50px;
}

.cards-container {
    display: block;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto; /* This will center the card horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    width: 40%; /* This will make the card take up half the width of its container */
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FF2222;
    cursor: pointer;
}

.card1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto; /* This will center the card horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    width: 40%;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2, .card h3 {
    margin-top: 0;
}

.card button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.card button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

.card1 input {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.card1 button {
    background-color: hwb(123 0% 34%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.card1 button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}
