h1 {
    text-align: center;
}

.cards-container {
    display: block;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto; /* This will center the card horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    width: 90%; /* This will make the card take up half the width of its container */
    max-width: 500px;
    position: relative;
    word-wrap: break-word;
}

.delete-icon {
    position: absolute;
    top: 15px;
    right: 13px;
    color: #FF2222;
    cursor: pointer;
}

.show-icon {
    position: absolute;
    right: 10px;
    color: #007BFF;
    cursor: pointer;
}

.card1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
    margin: 10px auto; /* This will center the card horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    width: 90%;
    max-width: 500px;
    word-wrap: break-word;
}
.header {
    display: flex;
    align-items: center;
}
.card2 {
    padding: 15px;
    margin: 10px auto; /* This will center the card horizontally */
    width: 90%;
    max-width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2, .card h3 {
    margin-top: 0;
}

.card button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.card button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

.card1 input, .card1 textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}
.card1 textarea {
    resize: vertical;
}

.card1 select {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.card1 button {
    background-color: hwb(123 0% 34%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.card1 button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

hr {
    border-color: gray;
    opacity: 0.2;
}

.back-button {
    position: absolute;
    left: 5px;
}
